@use "./components/__variables";
@use "./components/__reset";
@use "./components/__global-style";
@use "./components/__header";
@use "./components/__bio";
@use "./components/__skills";
@use "./components/__media";
@use "./components/__projects";
@use "./components/__clients";
@use "./components/__contact";
@use "./components/__footer";
@use "./components/__theme";
@use "./components/__responsive";
